<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Company</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body class="form_body">
		<button onclick="logout()" class="logout_button">Logout</button>
		<div class="form_div">
			<h1>
				<a href="companies.html" class="go_back">Go back</a> or Create/Update
				Company
			</h1>
			<form>
				<p id="error_message"></p>

				<label for="id">Id:</label>
				<input type="text" id="id" name="id" style="pointer-events: none" />

				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required />

				<label for="registration_number">Registration Number:</label>
				<input
					type="text"
					id="registration_number"
					name="registration_number"
					required
				/>

				<label for="address">Address:</label>
				<input type="text" id="address" name="address" required />

				<input type="submit" value="Create" />
			</form>
		</div>
	</body>
</html>
