<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body class="form_body">
<div class="form_div">
    <h1>Login</h1>
    <form method="post" id="register_form">
        <p id="error_message"></p>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>

        <button onclick="submitRegisterForm()" type="button" class="auth_button">Register</button>
        <p style="font-size: 15px">
            You already have an account? <a th:href="@{/api/v1/auth/login_page}">Login</a>
        </p>
    </form>
</div>

<script th:src="@{/js/auth.js}"></script>

</body>
</html>
