<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reports</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body class="table_body">
		<button onclick="logout()" class="logout_button">Logout</button>
		<p><a href="companies.html">{Company name}</a> reports in DB:</p>
		<a href="#" id="new">Create New</a>
		<table>
			<tr>
				<th>id</th>
				<th>company</th>
				<th>report date</th>
				<th>total revenue</th>
				<th>net profit</th>
				<th>view the report details</th>
				<th>update the report data</th>
				<th>delete the report</th>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
				<td>Data 5</td>
				<td><a href="reports_details.html">details</a></td>
				<td><a href="create_or_update_report.html">update</a></td>
				<td><a href="#" id="delete">delete</a></td>
			</tr>
		</table>
	</body>
</html>
